<!DOCTYPE html>
<html lang="en-US">
<head>
  <%== File.read('partials/head.html') %>
  <title>Projects</title>
  <meta name="description" content="Projects by João Pinheiro" />
  <meta property="og:description" content="Projects by João Pinheiro" />
  <meta property="og:title" content="Projects" />
  <meta property="og:url" content="https://pineman.github.io/projects" />
  <meta property="og:type" content="website" />
</head>
<%== File.read('partials/pinecone.html') %>
<body>
<div id="wrap">
<header>
  <h1>Projects</h1>
</header>
<article>
  <ul>
    <li>
      <a href="https://github.com/pineman/fpt">fpt - Gameboy emulator</a> (rust)
    </li>
    <li>
      <a href="https://github.com/pineman/su">Sudoku browser game</a> (ruby)
    </li>
    <li>
      <a href="https://github.com/pineman/abra">abra - Typing speed game</a> (js)
    </li>
    <li>
      <a href="https://github.com/pineman/LEDmatrix">LED matrix</a> (python)
    </li>
    <li>
      <a href="https://github.com/pineman/r2p">r2p - Play remote games (via RDP) on a Raspberry Pi</a> (C++, Qt)
    </li>
    <li>
      <a href="https://github.com/pineman/aoc">Advent of Code solutions</a>
    </li>
    <li>
      <a href="https://github.com/pineman/code">Everything else - experiments, old projects, challenges</a>
    </li>
  </ul>
  Academic selection
  <ul>
    <li>
      <a href="https://github.com/pineman/psis">Multithreaded distributed clipboard</a> (C)
    </li>
    <li>
      <a href="https://github.com/pineman/blackjack">Blackjack game</a> (C, SDL2)
    </li>
    <li>
      <a href="https://github.com/pineman/wordmorph">Shortest paths between words</a> (C)
    </li>
  </ul>
</article>
</div>
</body>
</html>
