* {
  box-sizing: border-box;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 18px;
  line-height: 1.6;
  overflow-wrap: break-word;
}
body {
  margin: 1rem;
  display: flex;
  justify-content: center;
}
a {
  color: inherit;
  text-decoration: none;
  border-bottom: dotted 0.0625rem;
}
a:hover {
  border-bottom: solid 0.0625rem;
}
.img-link {
  border-bottom: none;
}
.img-link:hover {
  border-bottom: none;
}
ul {
  list-style-position: inside;
}
#wrap {
  overflow: auto;
  max-width: 65ch;
  width: 65ch;
}
pre {
  overflow: auto;
}
/* Header styles */
header {
  display: grid;
  grid-template-columns: 35% 65%;
}
#header-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-img img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}
#header-text {
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#header-text h1 {
  margin: 0;
  text-align: center;
  font-weight: normal;
}
#header-text span {
  display: block;
  text-align: center;
  margin-top: -0.5rem;
}
#header-text ul {
  list-style-type: none;
}
#header-text i {
  padding-right: 0.5rem;
}
@media (max-width: 76ch) {
  header {
    grid-template-columns: initial;
    margin-bottom: 0;
  }
  header img {
    margin: auto auto 0.7rem;
  }
  ul {
    padding: 0;
  }
}
