<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#171B36">
  <link rel="icon" type="image/x-icon" href="../favicon.ico" />
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="../assets/fontawesome/css/all.css" />
  <title>João Pinheiro CV</title>
</head>
<body>
<aside>
  <side-wrap>
    <div id="photo"><img id="photo" src="../assets/me.webp" /></div>
    <h2 id="name">João Pinheiro</h2>
    <div id="description">Software • Systems • Curiosity</div>
    <hr />
    <ul id="details">
      <li><i class="fas fa-birthday-cake"></i><%=
        require 'Date'
        dob, today = Date.new(1997, 3, 29), Date.today
        today.year - dob.year - ((today.month < dob.month || (today.month == dob.month && today.day < dob.day)) ? 1 : 0)
      %></li>
      <li><i class="fas fa-map-marker-alt"></i>Lisbon, Portugal</li>
      <li><i class="fa fa-envelope"></i><a target="_blank" href="mailto:joaocastropinheiro@gmail.com">joaocastropinheiro@gmail.com</a></li>
      <li><i class="fas fa-phone"></i><a target="_blank" href="tel:+351968818031">+351 968 818 031</a></li>
      <li><i class="fab fa-linkedin"></i><a target="_blank" href="https://www.linkedin.com/in/joaocastropinheiro">LinkedIn</a></li>
      <li><i class="fab fa-github"></i><a target="_blank" href="https://github.com/pineman">GitHub</a></li>
      <li><i class="fa-brands fa-goodreads"></i><a target="_blank" href="https://www.goodreads.com/review/list/30442257-jo-o-pinheiro?order=d&shelf=now-computer">Goodreads</a></li>
      <li><i class="fas fa-globe"></i><a target="_blank" href="https://pineman.github.io">Website</a></li>
    </ul>
    <hr />
    <h3>Technologies</h3>
      Python, Java, C, C++, JavaScript, Bash, Git, PostgreSQL, Linux, Docker, K8s, GCloud, Gitlab CI
    <hr />
    <h3>Interests</h3>
      Distributed Systems, Reliability
    <hr />
    <h3>Projects</h3>
      <a target="_blank" href="https://abra.fly.dev">abra</a>, <a target="_blank" href="https://github.com/pineman/LEDmatrix">LED Matrix</a>, <a target="_blank" href="https://github.com/pineman/code">playground</a>, <a target="_blank" href="https://github.com/pineman/pineman.github.io">website</a>
  </side-wrap>
  <version>
    <a target="_blank" href="https://pineman.github.io/cv">HTML version</a> | <a target="_blank" href="https://pineman.github.io/cv/cv.pdf">PDF version</a> | rev: <%= `git rev-parse --short HEAD` %>
  </version>
</aside>

<article>
  <education>
  <h2>Education</h2>
  <gig>
    <gig-header>
      <gig-img><img src="assets/ist.jpg"></gig-img>
      <gig-info>
        <h4><i class="fas fa-briefcase"></i>Student</h4>
        <h4><i class="fas fa-map-marker-alt fix"></i>Instituto Superior Técnico (IST)</h4>
        <h4><i class="fas fa-clock"></i>Sep. '15 to Jun. '19</h4>
      </gig-info>
    </gig-header>
    <gig-description>
      <p>Electrical and Computer Engineering.</p>
    </gig-description>
  </gig>
  </education>
  <hr />
  <experience>
  <h2 id="experience">Experience</h2>
  <gig>
    <gig-header>
      <gig-img><img src="assets/cf.png"></gig-img>
      <gig-info>
        <h4><i class="fas fa-briefcase"></i>Software Engineer</h4>
        <h4><i class="fas fa-map-marker-alt fix"></i><a target="_blank" href="https://www.celfocus.com/home/index.php/offer/products/celfocus-one-net-mobile-office">Celfocus - Unified Communications - One Net</a></h4>
        <h4><i class="fas fa-clock"></i>Aug. '19 to present</h4>
      </gig-info>
    </gig-header>
    <gig-description>
      <p><b>Tech:</b> Java (JBoss, Spring, Hibernate), React, PostgreSQL, ActiveMQ</p>
      <p><b>Infra:</b> Docker, Bash, Gitlab CI (K8s on GCloud), Helm, Terraform</p>
      <p><a href='https://www.celfocus.com/home/index.php/offer/products/celfocus-one-net-mobile-office'>One Net</a> is Celfocus's enterprise voice solution, with 5 international deployments. The Call Handling Server (CHS) speaks both SS7 and SIP, in 185k SLOC of C++, has an in-memory DB and strict SLAs. It's provisioned via a web Portal, written in React and Java. It provides a JSON REST API and integrates with many external systems.</p>
      <p>I started as a CHS dev and promptly shifted to Portal backend (rarely frontend), as I switched to a cross-functional agile team. I was fortunate enough to learn from the project's founding seniors, and emerged in a sort-of generalist Systems overview role later.</p>
      <p>Currently, I do backend feature work, while being the main dev responsible for dev infra (CI w/ many test types), tooling and glue. I try to keep everyone productive and handle the rarer architectural issues. I spearheaded refactorings, migrations with external teams, new features, updates, new conventions across 4 teams, CI/CD for a new project, failover in production, and even onboarding. But most of all, at Celfocus I learned responsiblity, commitment and TDD.</p>
    </gig-description>
  </gig>
  <hr />
  <gig>
    <gig-header>
      <gig-img><img src="assets/cms.png"></gig-img>
      <gig-info>
        <h4><i class="fas fa-briefcase"></i>Summer Internship</h4>
        <h4><i class="fas fa-map-marker-alt fix"></i><a target="_blank" href="https://github.com/amagovpt/autenticacao.gov">Caixa Mágica - Portuguese Citizen Card</a></h4>
        <h4><i class="fas fa-clock"></i>Jun. '19 to Jul. '19</h4>
      </gig-info>
    </gig-header>
    <gig-description>
      <p><a target="_blank" href="https://github.com/amagovpt/autenticacao.gov/commits/master?author=joao.pinheiro@caixamagica.pt">Open Source development</a> in C, C++, Qt Quick/QML.</p>
    </gig-description>
  </gig>
  <hr />
  <side-by-side-wrap>
  <gig>
    <gig-header>
      <gig-img><img src="assets/fst.png"></gig-img>
      <gig-info>
        <h4><i class="fas fa-briefcase"></i>Fulltime</h4>
        <h4><i class="fas fa-map-marker-alt fix"></i><a target="_blank" href="http://fst.tecnico.ulisboa.pt/">FST Lisboa</a></h4>
        <h4><i class="fas fa-clock"></i>Sep. '17 to Jan. '18</h4>
      </gig-info>
    </gig-header>
    <gig-description>
      <p>In Formula Student teams build, test and race a formula style car. I programmed PIC μCs and reduced the dev loop to one keypress. Worked on a GUI (C++/Qt) &amp; ported it to windows. I dearly miss the passion and dedication of the team.</p>
    </gig-description>
  </gig>
  <hr />
  <gig>
    <gig-header>
      <gig-img><img src="assets/hs.png"></gig-img>
      <gig-info>
        <h4><i class="fas fa-briefcase"></i>Member</h4>
        <h4><i class="fas fa-map-marker-alt fix"></i><a target="_blank" href="https://hackerschool.io/">HackerSchool</a></h4>
        <h4><i class="fas fa-clock"></i>May '16 to Sep. '17</h4>
      </gig-info>
    </gig-header>
    <gig-description>
      <p>HackerSchool is a student society that promoted the Hacker spirit. I codeveloped a <a target="_blank" href="https://github.com/hackerschool/r2p">pair of GUI apps in C++/Qt</a> and an <a target="_blank" href="https://github.com/hackerschool/ledmatrix">LED Matrix</a> in Python and Arduino. I also organized events at IST: <a target="_blank" href="https://www.ulisboa.pt/info/verao-na-ulisboa-2016">a workshop for younger students</a>, hackathons and <a target="_blank" href="https://tecnico.ulisboa.pt/en/events/secthon-security-hackathon/">CTFs</a>.</p>
    </gig-description>
  </gig>
  </side-by-side-wrap>
  </experience>
</article>
</body>
</html>
