<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" href="style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="João Pinheiro" />
  <meta name="keywords" content="technology computer software engineering" />
  <meta property="og:image" content="https://pineman.github.io/assets/me.webp" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="João Pinheiro" />
