  <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/darcula.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>-->
	<meta property="og:type" content="article" />
	<meta property="article:author" content="https://pineman.github.io" />
	<meta property="article:section" content="pineman's Blog" />
	<meta property="article:tag" content="technology" />
	<meta property="article:tag" content="computer" />
	<meta property="article:tag" content="software" />
	<meta property="article:tag" content="engineering" />
