<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; url=posts/<%= filename %>.html">
  <link rel="canonical" href="posts/<%= filename %>.html">
  <title>Redirecting...</title>
</head>
<body>
  <p>Redirecting to <a href="posts/<%= filename %>.html">posts/<%= filename %>.html</a>...</p>
</body>
</html>
